<header>
<% if (userId === undefined) { %>
<a href="/register">Register</a>
<a href="/login">Login</a>
<% } else { %>
<p><%= email %></p>
<% } %>
<h1 class= "font-effect-fire-animation">TinyApp</h1>
</header>