<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body class= "font-effect-fire-animation">
<h1 class= "font-effect-fire-animation">TinyApp</h1>
<h3>Login</h3>
<title>TinyApp</title>
<form action="/login" method="POST">
      <label for="email">Enter your email:</label>
      <input id="email" type="text" name="email">
      <br>
      <label for="password">Enter your password:</label>
      <input id="password" type="password" name="password">
      <br>
      <input type="submit" value="Submit">
</form>
<br>
<a href="/register">Register</a>

</body>
</html>