<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body class= "font-effect-fire-animation">
<% include ./partials/_header %>
<% include ./partials/_nav %>

<% for(key in urls) { %>
  <p>
    <%= key %>: <%= urls[key] %>
      <form method="POST" action="/urls/<%=key%>/delete">
        <input type="submit" value="Delete">
      </form>
      <form method="GET" action="/urls/<%=key%>">
        <input type="submit" value="Update">
      </form>
  </p>
<% } %>


<a href="urls/new"> Shorten a new URL </a>


</body>
</html>