<!DOCTYPE html>
<html lang="en">
<head><title>TinyApp</title></head>
<body style="font-size:20px; padding:50px;">
<header><% include ./partials/_header %></header>
<p>
<h3>ShortURL : <%= shortURL%></h3>
</p>
    <form action="/urls/<%= shortURL%>/update" method="POST">
      <input id="oldLongURL" type="text" name="oldLongURL" placeholder="<%= longURL%>" style="width: 300px">
      <input type="submit" value="Update">
    </form>

</body>
</html>